.confirm-reservation {
  .page-header-banner {
    height: @page-header-banner-size;
    position: fixed;
    top: 0;
    left: 0;
    color: @white;
    background-color: fade(@pure-black, 60%);
    width: 100%;
    text-align: center;
    padding-top: 15px;
  }
}