.confirm-reservation
  .page-header-banner Book a Reservation
  div(res-restaurant restaurant="ConfirmreservationController.restaurant")
div(res-reservation reservation="ConfirmreservationController.reservation" restaurant="ConfirmreservationController.restaurant")