html(ng-app="reserve")

  head

    title Reserve Coding Test

    link(rel="stylesheet" type="text/css" href="#{hrefs.stylesheets}")
    base(href="/")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')


  body

    .ng-cloak.main-container
      div(ui-view="main")

    script(src="#{hrefs.scripts}")
    p#templates(style="display: none;") !{templates}