// Normally, this section would be extracted into separate stylesheets. No need for a project this small:

// --------------------------------
// global variables

@accent: #BA2A29;
@darker-accent: darken(@accent, 10%);
@white: #FEFEFE;
@black: #333;
@pure-black: #000;

@page-header-banner-size: 50px;

// needed because font awesome by default requests the woff file from the wrong URL
// for our server setup. This is to override that.
@font-face {
  font-family: "FontAwesome";
  src: url(/public/font-awesome/fonts/fontawesome-webfont.woff) format("truetype");
}

@standard-font-size: 20px;
@small-font-size: 12px;

// --------------------------------
// mixins

.mixin-transition(...) {
  -webkit-transition: @arguments;
     -moz-transition: @arguments;
      -ms-transition: @arguments;
       -o-transition: @arguments;
          transition: @arguments;
}

// --------------------------------
// global styles

.ng-cloak {
  display: none !important;
}

// --------------------------------
// all the rest

@import 'modules/routes/confirm-reservation/confirm-reservation.stylesheet.less';
@import 'modules/restaurant-ui/restaurant-display.stylesheet.less';
@import 'modules/reservation-ui/reservation-display.stylesheet.less';
