.reservation-input(ng-form name="ReservationinputController.reservationInputForm")
  .error-message(ng-class="ReservationinputController.isInErrorState() && ReservationinputController.isTouched() ? 'show-error' : ''") {{ReservationinputController.errorMessage}}
  .input-group(ng-class="ReservationinputController.isInErrorState() && ReservationinputController.isTouched() ? 'has-error' : ''")
    input.form-control(type="text" ng-model="ReservationinputController.model" placeholder="{{ReservationinputController.placeholder}}" name="input" required ng-pattern="ReservationinputController.regex" ng-class="ReservationinputController.isInErrorState() && ReservationinputController.isTouched() ? 'input-error-state' : ''")
    i.form-control-feedback.fa.fa-check.success-icon.input-validation-icon(ng-show="!ReservationinputController.isInErrorState() && ReservationinputController.isTouched()")
    i.form-control-feedback.fa.fa-close.error-icon.input-validation-icon(ng-show="ReservationinputController.isInErrorState() && ReservationinputController.isTouched()")
