.reservation-input {
  margin-bottom: 15px;

  .input-group {
    width: 100%;

    &.has-error input {
      background-color: fade(red, 10%);
    }
  }

  input {
    padding-right: 30px;

    .mixin-transition(background-color 0.3s);
  }

  i.input-validation-icon {
    margin-right: 0;
  }

  .error-icon {
    color: red;
  }

  .success-icon {
    color: green;
  }

  .error-message {
    padding-left: 13px;
    visibility: hidden;
    color: red;
    font-weight: bold;
    font-size: @small-font-size;

    &.show-error {
      visibility: visible;
    }
  }
}