.reservation-display
  .container
    .row.reservation-header(ng-if="ReservationdisplayController.reservation.getState() !== ReservationdisplayController.states.CONFIRMED")
      .col-xs-12.col-sm-4.display-col
        i.fa.fa-user
        | {{ReservationdisplayController.reservation.getNumberOfGuests()}} People
      .col-xs-12.col-sm-4.display-col
        i.fa.fa-calendar
        | {{ReservationdisplayController.reservation.getReservationTime().format('ddd, MMM DD') }}
      .col-xs-12.col-sm-4.display-col
        i.fa.fa-clock-o
        | {{ReservationdisplayController.reservation.getReservationTime().format('h:mmA') }}


    //- "Reservation held for" section
    .row.held-for(ng-if="ReservationdisplayController.reservation.getState() === ReservationdisplayController.states.UNCONFIRMED")
      i.fa.fa-clock-o
      | Reservation on hold for: {{ ReservationdisplayController.getRemainingTimeString() }}

    //- Form
    form.reservation-form(ng-if="ReservationdisplayController.reservation.getState() === ReservationdisplayController.states.UNCONFIRMED" name="ReservationdisplayController.parentReservationForm")
      .row
        .col-xs-12.col-sm-8.col-sm-offset-2(res-reservation-input model="ReservationdisplayController.reservation.pendingData.firstName" error-message="'Enter a valid first name'" placeholder="'First Name'" re-match="'..'")
      .row
        .col-xs-12.col-sm-8.col-sm-offset-2(res-reservation-input model="ReservationdisplayController.reservation.pendingData.lastName" error-message="'Enter a valid last name'" placeholder="'Last Name'" re-match="'..'")
      .row
        .col-xs-12.col-sm-8.col-sm-offset-2(res-reservation-input model="ReservationdisplayController.reservation.pendingData.phoneNumber" error-message="'Enter a valid mobile phone number'" placeholder="'Mobile Phone Number'" re-match="'[0-9]{9}'")
      .row
        //- we all know regex's shouldn't be used to validate emails, but:
        .col-xs-12.col-sm-8.col-sm-offset-2(res-reservation-input model="ReservationdisplayController.reservation.pendingData.emailAddress" error-message="'Enter a valid email address'" placeholder="'Email Address'" re-match="'[^@]+@[^@\\.]+\\.+[^@]+'")

      .row
        .col-xs-12.col-sm-8.col-sm-offset-2.special-requests
          textarea.form-control(ng-model="ReservationdisplayController.reservation.pendingData.specialRequests" placeholder="Special Requests for {{ReservationdisplayController.restaurant.name}}")

      //- form: button
      .row
        .col-xs-12.col-sm-8.col-sm-offset-2
          button.btn.btn-primary.form-control.submit-button(ng-class="ReservationdisplayController.isInErrorState() ? 'disabled' : 'enabled'" ng-click="ReservationdisplayController.submitReservation()") Finish

      .row
        .col-xs-12.col-sm-8.col-sm-offset-2.legal-info Legalese mumbo jumbo

    //- Loading screen
    .row.confirming-reservation(ng-if="ReservationdisplayController.reservation.getState() === ReservationdisplayController.states.LOADING")
      .col-xs-12.col-sm-8.col-sm-offset-2 Confirming Reservation...

  //- Confirmation successful screen
  .confirmation-success(ng-if="ReservationdisplayController.reservation.getState() === ReservationdisplayController.states.CONFIRMED")
    include reservation-display-success.partial.jade