.container-fluid
  .row.reservation-header.success
    .col-xs-12.display-col Reservation Confirmed!

.container
  .row.confirmation-row
    .col-xs-12.col-sm-8.col-sm-offset-2
      i.fa.fa-check-circle-o.large.header
      div Thank you, {{ ReservationdisplayController.reservation.getFirstName() }}!
      div Your reservation is confirmed.
  hr
  .row.confirmation-row
    .col-xs-12.col-sm-4.display-col
      i.fa.fa-user.large
      | {{ReservationdisplayController.reservation.getNumberOfGuests()}} People
    .col-xs-12.col-sm-4.display-col
      i.fa.fa-calendar.large
      | {{ReservationdisplayController.reservation.getReservationTime().format('MMM DD') }}
    .col-xs-12.col-sm-4.display-col
      i.fa.fa-clock-o.large
      | {{ReservationdisplayController.reservation.getReservationTime().format('h:mmA') }}
  hr
  .row.confirmation-row
    .col-xs-12
      i.fa.fa-spoon.large.header
      div
        b {{ReservationdisplayController.restaurant.name}}
      div.address {{ReservationdisplayController.restaurant.addressString}}
      a(href="") Get directions 
        i.fa.fa-chevron-right
  hr
  .row.confirmation-row(ng-if="ReservationdisplayController.reservation.getSpecialRequests()")
    .col-xs-12
      i.fa.fa-pencil.large.header
      div
        b Special Requests
      .special-requests {{ReservationdisplayController.reservation.getSpecialRequests()}}