@import './reservation-input/reservation-input.stylesheet.less';

@brown-button: #A89354;
@brown-success-banner: #C9B742;

.reservation-display {
  i {
    margin-right: 10px;

    &.medium:before {
      font-size: @standard-font-size;
    }
  }

  .reservation-header {
    height: 50px;
    line-height: 30px;
    padding-top: 10px;
    margin-bottom: 50px;
    font-size: @standard-font-size;

    .display-col {
      text-align: center;
    }
  }

  .reservation-header.success {
    background-color: @brown-success-banner;
    font-weight: bold;
  }

  .held-for {
    text-align: center;
    font-weight: bold;
    font-size: @standard-font-size;
  }

  .reservation-form {
    width: 100%;
    padding-top: 30px;
  }

  .special-requests {
    // match the error message height
    margin-top: 17px;
    textarea {
      height: 150px;
    }

    margin-bottom: 15px;
  }

  button.submit-button {
    color: white;
    border: none;
    .mixin-transition(background-color 0.3s);

    &.disabled {
      background-color: gray;
    }

    &.enabled {
      background-color: @brown-button;
    }
  }

  .legal-info {
    margin-top: 10px;
    font-size: 10px;
  }

  .confirming-reservation {
    padding-top: 100px;
    text-align: center;
  }

  .confirmation-success {
    text-align: center;

    .display-col {
      i:before {
        font-size: 30px;
      }

      margin-bottom: 20px;
    }

    i.large {
      display: block;
      margin-right: 0;

      &:before {
        font-size: 30px;
      }
    }

    i.header:before {
      color: @brown-success-banner;
    }

    .confirmation-row {
      margin-bottom: 50px;
    }
  }

  a {
    color: @brown-success-banner;
  }

  .address, .special-requests {
    white-space: pre-wrap;
  }

  hr {
    width: 80%;
    margin-bottom: 50px;
  }
}