.container-fluid.restaurant-display
  .row
    .restaurant-banner(ng-style="{'background-image' : 'url(public/' + RestaurantdisplayController.restaurant.backgroundImageUrl + ')' }")
    .restaurant-overlay

    .restaurant-name {{ RestaurantdisplayController.restaurant.name }}