// more precisely, we'd need to include the size of the overlay
@restaurant-banner-size: 300px;
@line-height: 20px;

.restaurant-display {
  position: relative;
  height: @restaurant-banner-size;

  .restaurant-banner {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: @restaurant-banner-size;
    position: absolute;
    z-index: -1;
  }

  .restaurant-overlay {
    background-color: fade(@black, 40%);
    width: 100%;
    height: @restaurant-banner-size;
    position: absolute;
    z-index: -1;
  }

  .restaurant-name {
    padding-top: @restaurant-banner-size / 2 - @line-height / 2 + @page-header-banner-size / 2;
    line-height: @line-height;
    width: 100%;
    font-size: 30px;
    color: @white;
    text-align: center;
  }
}